---
import "../styles/global.scss"

export interface Props {
  title?: string;
  url: string;
  ogImage?: string;
  description?: string;
}
const { title, url, ogImage, description } = Astro.props;
const fullTitle = title ? `${title} | Yuku Kotani` : "Articles | Yuku Kotani"
const fullDescription = description || "こたにゆうくのブログ";
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />

<link rel="icon" type="image/png" href="/icon.png" />

<!-- Primary Meta Tags -->
<title>{fullTitle}</title>
<meta name="title" content={fullTitle} />
<meta name="description" content={fullDescription} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={fullDescription} />
<meta property="og:image" content={ogImage || "https://yuku.dev/icon.png"} />

<!-- Twitter -->
<meta property="twitter:card" content={ogImage ? "summary_large_image" : "summary"} />
<meta property="twitter:url" content={url} />
<meta property="twitter:creator" content="@yukukotani" />
<meta property="twitter:site" content="@yukukotani" />

<!-- Stylesheet -->
<link rel="stylesheet" href="https://unpkg.com/modern-css-reset@1.4.0/dist/reset.min.css" />

<!-- Analytics -->
{ process.env.VERCEL_ENV === "production" ? 
  <script is:inline async src={`https://www.googletagmanager.com/gtag/js?id=G-Y6GFJZCCEN`} />
  : null }
{ process.env.VERCEL_ENV === "production" ?
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-Y6GFJZCCEN', {
      page_path: window.location.pathname,
    });
  </script>
  : null }