---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import { Container } from '../components/Container';
import { ArticleSection } from '../components/ArticleSection';
import { Footer } from '../components/Footer';

const { content } = Astro.props;
const { title, publishDate, url, ogImage, description } = content;
---

<html lang="ja">
  <head>
    <BaseHead title={title} url={Astro.url.toString()} ogImage={ogImage} description={description} />
    <link rel="stylesheet" href="https://cdn.skypack.dev/prism-themes/themes/prism-darcula.css" />
  </head>

  <body>
    <BlogHeader />
    <Container>
      <ArticleSection title={title} publishDate={publishDate}>
        <slot />
      </ArticleSection>
    </Container>
    <Footer />
  </body>
</html>
