---
import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogFooter from '../components/BlogFooter.astro';
import Container from "../components/Container.astro";
import Article from '../components/Article.astro';

const {content} = Astro.props;
const {title, publishDate, url, ogImage} = content;
---
<html>
  <head>
    <BaseHead title={title} url={Astro.request.canonicalURL} ogImage={ogImage} />
    <link rel="stylesheet" href="https://cdn.skypack.dev/prism-themes/themes/prism-darcula.css">
  </head>

  <body>
    <BlogHeader />
    <Container>
      <Article title={title} publishDate={publishDate}>
        <slot />
      </Article>
    </Container>
    <BlogFooter />
  </body>
</html>

